{% extends "layout.twig" %}

{% block content %}
    <div class="row">
        <div class="col-3">
            <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
            </div>
        </div>
        <div class="col-9">
            <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
            <table class="table table-bordered">
                <thead></thead>
                <tbody>
                    {% for run in myRuns %}
                        <tr{% if run.firstOfMonth %} id="list-item-{{ run.firstOfMonth }}"{% endif %}{% if not run.run_distance %} class="table-light text-muted"{% endif %}>
                            <td>{{ run.run_date }} <small>({{ run.run_day }})</small></td>
                            <td align="right"{% if run.run_distance %} {% if run.run_distance > run.avgDailyToGoKM %}class="text-success"{% else %}class="text-danger"{% endif %}>{{ run.run_distance }} km {% else %}>&nbsp;{% endif %}</td>
                            <td align="right">{{ run.avgDailyToGoKM|number_format(2, ',', '.') }} km</td>
                            <td align="right">{{ run.totalKM|number_format(2, ',', '.') }} km</td>
                            <td align="right">{{ run.KMtoGo|number_format(2, ',', '.') }}</td>
                            <td align="right">{{ run.totalGoalKM|number_format(2, ',', '.') }} km</td>
                            <td align="right" class="{% if run.diffToGoal > 0 %}text-success{% else %}text-danger{% endif %}">{{ run.diffToGoal|number_format(2) }} km</td>
                            <td align="right">{{ run.avgDailyRunKM|number_format(2, ',', '.') }} km</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock content %}